.DS_Store
.build*/
build*/
*.exe
*.dll
*.mp4
*.webm
*.h265
*.h264
*.yuv
*.y4m
*.m4a
*.wav
*.pcm
*.log
*.kw
*.bit
*.bits
*.cfg
*.7z
*.stamp
[0-9]
[a-z].sh
[a-z].bat
options.txt
testplan.txt
*.json
out*/
*tmp*/
*result*/
report/
__pycache__
bin/
